doctype html
html(lang='en')
 head
   title Quick Book
   style. 
    .btn {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 20px;
    }
 body
   h2 Connect to Quick Books
   a.btn(href='connect') Connect